In [1]:
import sqlite3
conn = sqlite3.connect('tbl0')  ## aca se indica el nombre de la db.
cur = conn.cursor()

In [2]:
from IPython.core.magic import register_cell_magic, register_line_magic

@register_cell_magic
def sqlite3(line, cell):
    cell = [l for l in cell.split('\n') if l[0:2] != '--' and l[0:2] not in ['--', '##']]
    cell = '\n'.join(cell)
    return cur.execute(cell).fetchall()

@register_cell_magic
def sqlite3script(line, cell):
    cell = [l for l in cell.split('\n') if len(l) >= 2 and l[0:2] not in ['--', '##'] ]
    cell = '\n'.join(cell)
    conn.executescript(cell)
    conn.commit()

@register_line_magic
def sql(line):
    line = [l for l in line.split('\n') if l[0:2] != '--' and l[0:2] not in ['--', '##']]
    line = '\n'.join(line)
    return cur.execute(line).fetchall()

In [3]:

# Leer el archivo tbl0
with open('tbl0.csv', 'rt') as f:
    text = f.readlines()

text = [line[:-1] for line in text]
text = [line.split(',') for line in text]
text = [tuple(line) for line in text]
text

[('\ufeffA', '5000', '900', 'NMNJL', '0.4'),
 ('B', '7000', '100', 'OLPKN', '0.2'),
 ('C', '1000', '600', 'LMMML', '0.2'),
 ('D', '4000', '600', 'PJLJL', '0.4'),
 ('E', '4000', '200', 'PONNJ', '0.4'),
 ('F', '2000', '300', 'NNPJO', '0.3'),
 ('G', '5000', '100', 'NLPLO', '0.2'),
 ('H', '1000', '200', 'NLPPO', '0.4'),
 ('I', '3000', '300', 'PPPPL', '0.')]

In [4]:
%%sqlite3 #Se crea tabla tbl0
CREATE TABLE tbl0 (
        K0  CHAR(1),    
        c01 INT,
        c02 INT,
        c03 CHAR(4),
        c04 FLOAT);

OperationalError: table tbl0 already exists

In [5]:
cur.executemany('INSERT INTO tbl0 VALUES (?,?,?,?,?)', text);
%sql SELECT * FROM tbl0; # se cargan los datos de tbl0

Warning: You can only execute one statement at a time.

In [ ]:
# Cargar tbl1
with open('tbl1.csv', 'rt') as g:
    text1 = g.readlines()

text1 = [line[:-1] for line in text1]
text1 = [line.split(',') for line in text1]
text1 = [tuple(line) for line in text1]
text1

In [32]:
%%sqlite3 #Se crea tabla tbl1
CREATE TABLE tbl1 (
        K0  CHAR(1),    
        K1  INT,        
        c12 FLOAT,
        c13 INT,
        c14 DATE,
        c15 FLOAT,
        c16 CHAR(4));

[]

In [35]:
cur.executemany('INSERT INTO tbl1 VALUES (?,?,?,?,?,?,?)', text1)

In [38]:
%sql SELECT * FROM tbl1; # se cargan los datos de tbl1

ProgrammingError: Cannot operate on a closed database.

In [37]:
conn.close()